*{
    font-family: 'Courier New';
}
h1,h3{
 color: #b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: red;
    color: white;
}
.upvote{
    background-color: aqua;
}
.post a{
    text-decoration: none;
    color: blueviolet;
}
nav ul li a{

    color: hotpink;
}

p+h3{
    text-decoration: underline;
}
.upvote+button{
 background-color: cornflowerblue;
 color: blue;
}
div > input{
    background-color: darksalmon;
}
/*or
nav a 
*/
input[type="text"]{
    color: aqua;
}
input[type="password"]{
    color: blueviolet;
}
input[type] {
    border: blue;
    background-color: ghostwhite;
}
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}
button:active{
    background-color: hotpink;
}
p:active{
font-weight: bold;
color: green;
}
input[type="radio"]:checked +label{
    font-weight: bold;
    color: red;
}
.post:nth-of-type(odd){
    background-color: bisque;

}
h1::first-letter{
    color: blue;
}
 p::first-line{
    color: purple;
 }
 p::selection{
    background-color: limegreen;
 }