.div1{
    height:300px;
    width: 300px;
    background-color: chartreuse;
    transition-duration: 2s;
    transition-delay: 1s;
}
.div1:hover{
    background-color: aqua;
    border-radius: 50%;
}
.div2{
    margin:0 auto;
    margin-top: 10px;
    height:100px;
    width: 100px;
    background-color: chartreuse;
    transition: margin-left 2s ease-in 0.2s;
}
.div2:hover{
    margin-left: 900px;
    background-color: hotpink;
    
}