.box{
    height: 100px;
    width: 100px;
    border: 2px solid ;
    margin: 2px;
}
.one{
    background-color: aquamarine;
    position: relative;
    z-index: 2;
}
.two{
    background-color: orangered;
    position: relative;
    bottom: 50px;
    z-index: 1;
}
.three{
    background-color: pink;
}